<h1><%= @flat['name'] %></h1>
<h2><%= @flat['price'] %> <%= @flat['priceCurrency'] %></h2>
<img src="<%= @flat['imageUrl']%>" alt="" width="300">
<!-- link_to ANCHOR PATH -->
<p><%= link_to "Back", home_path %></p>